[Unit]
Description=Job Server Service
After=network.target

[Service]
Environment=PORT=80 HTTPS_PORT=443
Type=simple
User=worker
WorkingDirectory=/opt/job/backend
ExecStart=./run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
